# Các thư viện

In [4]:
import pandas as pd
import numpy as np

# Đọc dữ liệu

In [5]:
weather_df = pd.read_csv('data/cleaned/daily_weather_data.csv', encoding='utf-8')
weather_df.head(5)

,date,country,city,Latitude,Longitude,tavg,tmin,tmax,wdir,wspd,pres,continent
0,2018-07-21,Abkhazia,Sukhumi,43.001525,41.023415,23.4,20.9,25.5,329.0,9.3,1009.6,Asia
1,2018-07-22,Abkhazia,Sukhumi,43.001525,41.023415,23.5,21.0,25.7,337.0,9.4,1010.0,Asia
2,2018-07-23,Abkhazia,Sukhumi,43.001525,41.023415,23.5,21.1,25.5,41.0,8.2,1007.7,Asia
3,2018-07-24,Abkhazia,Sukhumi,43.001525,41.023415,24.3,20.8,27.1,10.0,9.3,1004.4,Asia
4,2018-07-25,Abkhazia,Sukhumi,43.001525,41.023415,26.5,22.7,30.0,9.0,9.7,1002.0,Asia

In [6]:
weather_df['date']= pd.to_datetime(weather_df['date'], format='%Y-%m-%d')

# Câu hỏi 1:

### Trong tháng 12/2021, liệt kê 10 thành phố có nhiệt độ trung bình thấp nhất, thể hiện nhiệt độ này qua các năm:
- Lưu tên các thành phố thành các dòng, sắp xếp thành phố có nhiệt độ trung bình tháng 12/2021 từ thấp đến cao.
- Các cột là các năm (VD: .., 2019, 2020,..)
- Các giá trị là nhiệt độ trung bình tháng 12.

In [7]:
df = weather_df[['date', 'city', 'tavg']]
df = df[pd.DatetimeIndex(df['date']).month == 12]
df

             date      city  tavg
133    2018-12-01   Sukhumi  11.2
134    2018-12-02   Sukhumi   9.6
135    2018-12-03   Sukhumi   8.7
136    2018-12-04   Sukhumi   9.2
137    2018-12-05   Sukhumi  11.4
...           ...       ...   ...
316923 2021-12-27  El Aaiún  17.9
316924 2021-12-28  El Aaiún  19.3
316925 2021-12-29  El Aaiún  19.6
316926 2021-12-30  El Aaiún  22.3
316927 2021-12-31  El Aaiún  21.9

[22680 rows x 3 columns]

In [8]:
df['year'] = pd.DatetimeIndex(df['date']).year
df.drop('date', axis=1, inplace=True)
df

            city  tavg  year
133      Sukhumi  11.2  2018
134      Sukhumi   9.6  2018
135      Sukhumi   8.7  2018
136      Sukhumi   9.2  2018
137      Sukhumi  11.4  2018
...          ...   ...   ...
316923  El Aaiún  17.9  2021
316924  El Aaiún  19.3  2021
316925  El Aaiún  19.6  2021
316926  El Aaiún  22.3  2021
316927  El Aaiún  21.9  2021

[22680 rows x 3 columns]

In [9]:
df.groupby(['year', 'city']).mean()

                        tavg
year city
2018 Abu Dhabi     21.951613
     Accra         28.912903
     Adamstown     23.987097
     Algiers       15.487097
     Alofi         26.066667
...                      ...
2021 Willemstad    26.593548
     Willemstad    26.593548
     Yamoussoukro  27.225806
     Yaren         27.683871
     Zagreb         4.577419

[737 rows x 1 columns]

In [10]:
df1 = df.pivot_table(index='city',columns='year',values='tavg')
df1.sort_values(2021, inplace=True)

In [20]:
df1.head(10)

year                2018       2019       2020       2021
city
Longyearbyen   -8.350000 -21.300000        NaN -10.306452
Astana        -14.732258  -7.338710 -14.729032  -7.090323
Moscow         -5.077419   1.341935  -3.867742  -6.361290
Helsinki       -1.174194   2.154839   1.516129  -5.587097
Tallinn        -1.722581   2.306452  -0.016129  -4.412903
Ottawa         -6.077419  -4.483871  -2.941935  -3.683871
Riga           -1.248387   2.845161   0.522581  -3.654839
Vilnius        -1.100000   2.380645  -0.019355  -3.258065
Pyongyang      -4.158065  -1.809677  -3.929032  -2.919355
Oslo           -1.106452   0.480645   2.367742  -2.816129

# Câu hỏi 2:

In [19]:
weather_df[weather_df['continent']=='Asia']['city'].unique()

array(['Sukhumi', 'Baku', 'Manama', 'Dhaka', 'Bandar Seri Begawan',
       'Phnom Penh', 'Beijing', 'Flying Fish Cove', 'West Island',
       'Nicosia', 'Hong Kong', 'New Delhi', 'Jakarta', 'Baghdad',
       'Tel Aviv', 'Tokyo', 'Astana', 'Kuwait City', 'Bishkek',
       'Vientiane', 'Beirut', 'Macau', 'Malé', 'Naypyidaw', 'Pyongyang',
       'Muscat', 'Ramallah', 'Manila', 'Doha', 'Singapore', 'Seoul',
       'Sri Jayawardenepura Kotte', 'Taipei', 'Bangkok', 'Dili',
       'Ashgabat', 'Abu Dhabi', 'Hanoi'], dtype=object)